Wiki/wikipedia.csv
Wiki/combined_sorted.csv
Wiki/raw_page.csv
Wiki/raw_category.csv
Sparv/hfst-swener-0.9.3/
Sparv/source/suc3.xml
Sparv/suc3_import/suc3_1.xml
Sparv/export/xml_pretty/suc3_3_export.xml
Sparv/suc3_import/suc3_3.xml
Sparv/suc3_import/suc3.xml
Sparv/export/xml_pretty/suc3_2_export.xml
Sparv/export/xml_pretty/suc3_1_export.xml
Sparv/suc3_import/suc3_0.xml
Sparv/export/xml_pretty/suc3_0_export.xml
Sparv/suc3_import/suc3_2.xml
